# run ./switch-model.sh to switch models (will rewrite .env file)

# Example

TEXT2SQL_MODEL=distil-qwen3-4b:latest
AI_RESPONSE_MODEL=qwen2.5-coder:7b
JUDGE_MODEL=qwen2.5-coder:7b
MODEL_URL=http://ollama:11434/v1/chat/completions