# change here to switch models

# Examples

# OLLAMA_MODEL=hf.co/mradermacher/Arctic-Text2SQL-R1-7B-GGUF:Q4_K_M
# OLLAMA_ALIAS=arctic-text2sql
# TEXT2SQL_MODEL=arctic-text2sql
 
OLLAMA_MODEL=qwen2.5-coder:32b-instruct-q4_K_M
OLLAMA_ALIAS=qwen-coder
TEXT2SQL_MODEL=qwen-coder